POSTGRES_HOST=bank-postgres
POSTGRES_PORT=5432
POSTGRES_DB=bank_users
POSTGRES_USER=bank
POSTGRES_PASSWORD=bank_pass

CLICKHOUSE_HOST=mart-clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=bank
CLICKHOUSE_PASSWORD=bank_pass
CLICKHOUSE_DB=bank_marts

YANDEX_FOLDER_ID=your_folder_id
YANDEX_API_KEY=your_api_key
YANDEX_MODEL=yandexgpt-5.1/latest
